.sidenav-container {
    height: 100%;
}

.sidenav {
    border: 0;
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}


/* .sidenav .mat-toolbar {
  background: inherit;
} */

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-content {
    /* padding-left: 20px; */
    height: 500px;
}

.navbar {
    justify-content: space-between;
}

.between-signin {
    margin: 1rem;
}

@media (min-width: 320px) and (max-width:420px) {
    .font-menu {
        font-size: 12px;
    }
}

@media (min-width: 421px) and (max-width:640px) {
    .font-menu {
        font-size: 18px;
    }
}

@media (min-width: 641px) and (max-width:960px) {
    .font-menu {
        font-size: 20px;
    }
}

@media (min-width: 961px) and (max-width:1024px) {
    .font-menu {
        font-size: 22px;
    }
}

@media (min-width: 1025px) and (max-width:1280px) {
    .font-menu {
        font-size: 22px;
    }
}

@media (min-width: 1281px) {
    .font-menu {
        font-size: 22px;
    }
}